<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <app-hero-detail [hero]="hero"></app-hero-detail>
            </div>
            <div class="col-md-6">
                <h2>My Heroes</h2>
                <ul class="heroes list-unstyled">
                    <li *ngFor="let hero of heroes" class="mb-2">
                        <button type="button" class="btn btn-primary"  [class.active]="hero === selectedHero"
                            (click)="onSelect(hero)">
                            <span class="badge">{{hero.id}}</span>
                            <span class="name">{{hero.name}}</span>
                        </button>
                    </li>

                </ul>
            </div>
        </div>

        

        <!-- <div>
            <label for="name">Hero name: </label>
            <input id="name" [(ngModel)]="hero.name" placeholder="name">
        </div> -->
    </div>
</section>