<div class="container pt-5 mt-5">
  <!-- <p>email:{{ error?.email?.errors?.required }}</p>
  <p>password:{{ error?.password?.errors?.required }}</p> -->

  {{ errorMessage?.email }}

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Email</label
              >
              <input
                type="email"
                [ngClass]="{ 'is-invalid': errorMessage?.email }"
                class="form-control"
                id="exampleFormControlInput1"
                name="email"
                placeholder="Email"
                formControlName="email"
              />

              <div class="invalid-feedback" *ngIf="errorMessage?.email">
                {{ errorMessage?.email }}
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                [ngClass]="{ 'is-invalid': errorMessage?.password }"
                class="form-control"
                id="password"
                name="password"
                value="password"
                placeholder="Passowrd"
                formControlName="password"
              />
              <div class="invalid-feedback" *ngIf="errorMessage?.password">
                {{ errorMessage?.password }}
              </div>
            </div>
            <div>
              <button class="btn btn-primary" [disabled]="isLoading">
                Submit
                <span
                  class="spinner-border spinner-border-sm"
                  aria-hidden="true"
                  *ngIf="isLoading"
                ></span>
              </button>
              <div *ngIf="errorMessage?.email">
                Content to render when condition is true.
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
